@charset "utf-8";
/* visual */
.visual { height: 900px; background: var(--font-color); border-bottom: 1px solid #fff ;  }
.visual .visual_logo { position: relative; width: 100%; height: 100%; background: url("../images/main/visual_logo.png") no-repeat center / cover;}
.visual .visual_logo > img { display: block; width: 100%;  }
.visual svg { left: 0; top: 0; font-family: 'Pretendard', sans-serif; position: absolute;  width: 100%; height: 100%; }
.visual p { position: absolute; left: 50%; top: 43%; transform: translateX(-50%); font-size: 3rem; text-align: center ; color: #fff;}

.visual svg .pine { opacity: 0;  animation: upto 0.5s, pine 3s ease-out forwards ; stroke-width: 5; stroke: #fff; font-size: 50px; font-weight: 900; animation-delay: 0.5s; /* transform: translate(15%, 45%); */ dominant-baseline: middle; text-anchor: middle; }
.visual svg .info { opacity: 0;  animation: upto 0.5s, info 3s ease-out forwards ; stroke-width: 5; stroke: #fff; font-size: 50px; font-weight: 900; animation-delay: 0.5s; /* transform: translate(54%, 45%); */ dominant-baseline: middle; text-anchor: middle;}
.visual svg .up { text-transform: uppercase; animation: up 4s ease-out forwards; animation-delay: 3.5s; font-size: 90px; opacity: 0; font-family: 'SBAggroM';  /* transform: translate(50%, 45%); */ dominant-baseline: middle; text-anchor: middle; }

@keyframes pine {
  0%   { opacity: 0; fill: rgba(255,255,255,1);stroke-width:0 ;  }
  70%  { opacity: 1; fill: rgba(255,255,255,1) ;  }
  80%  { fill: rgba(255,255,255,1); stroke:rgba(255,255,255,0); stroke-width: 0; }
  100% { opacity: 0; fill: rgba(255,255,255,1);   stroke-width: 0;}
} 

@keyframes info {
  0%   { opacity: 0; stroke: rgba(255,255,255,1); fill : rgba(0, 0, 0, 0);  stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;}
  70%  { opacity: 1;  stroke: rgba(255,255,255,1); fill :  rgba(0, 0, 0, 0); }
  80%  { opacity: 1; stroke: rgba(255,255,255,1); stroke-width: 1; fill :  rgba(0, 0, 0, 0); }
  100% { opacity: 0; stroke: rgba(255,255,255,1); stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0; fill :  rgba(0, 0, 0, 0);}
} 

@keyframes up {
  0% { opacity: 0; transform: translateY(50px);}
  80% { opacity: 1; transform: translateY(5px);}
  100% { opacity: 1; fill: rgba(255,255,255,1); transform: translateY(0); }
}

@keyframes upto {
  0% { opacity: 1; transform: translateY(100px);  }
  50% { opacity: 0.5; }
  100% { opacity: 1; fill: rgba(255,255,255,1); transform: translateY(0); }
}

@media (max-width: 1800px) {
  .visual { height: 750px; } 
}

@media (max-width: 1700px) {
  .visual { height: 700px;} 
}

@media (max-width: 1650px) {
  .visual { height: 650px;} 
}

@media (max-width: 160px) {
  .visual { height: 600px;} 
}

@media (max-width: 1480px) {
  .visual { height: 550px; } 
  .visual p { font-size: 2.5rem;}
}

@media (max-width: 1024px) {
  .visual { height: 500px; } 
  .visual p { font-size: 2rem; padding-top: 10px;}
}

@media (max-width: 768px) {
  .visual svg { height: 95%;}
  .visual p { font-size: 1.7rem; }
}

@media (max-width: 600px) {
  .visual svg { height: 90%;}
  .visual { height: 450px; } 
}

@media (max-width: 500px) {
  .visual svg { height: 90%;}
  .visual { height: 400px; } 
  .visual p { font-size: 1.5rem; padding: 0;}
}

@media (max-width: 430px) {
  .visual { height: 300px; } 
  .visual p { font-size: 1.2rem; }
}

/* @keyframes pine {
  0%   { opacity: 0; fill: rgba(255,255,255,1); stroke-dashoffset: 300; stroke-dasharray: 300; stroke-width:0 ;  }
  70%  { opacity: 1; fill: rgba(255,255,255,1) ;  }
  80%  { fill: rgba(255,255,255,1); stroke:rgba(255,255,255,0); stroke-width: 0; }
  100% { opacity: 0; fill: rgba(255,255,255,1); stroke-width: 0;}
} 

@keyframes info {
  0%   { opacity: 0; stroke: rgba(255,255,255,1); fill : var(--font-color);  stroke-dashoffset: 400; stroke-dasharray: 400; stroke-width: 1;}
  70%  { opacity: 1;  stroke: rgba(255,255,255,1); fill : var(--font-color); }
  80%  { opacity: 1; stroke: rgba(255,255,255,1); stroke-width: 1; fill : var(--font-color); }
  100% { opacity: 0; stroke: rgba(255,255,255,1);  stroke-width: 0; fill : var(--font-color);}
}  */

/* 포토폴리오 */
.portfolio { color: #fff; margin: 120px auto;}
.portfolio h2 {font-size: 4rem; position: relative; background: linear-gradient( #004E81, #00101B); color: transparent; -webkit-background-clip: text; background-clip: text; padding-bottom: 50px;}
.portfolio h2::after {content: ""; position: absolute; width: 8px; height: 8px; border-radius: 50%; background: #F0A550; left: 176px; bottom: 56%; opacity: 0.5;}

.flex-container { display: flex; gap: 20px; justify-content: center; align-items: center; max-width: 1720px;
}
  
/* 슬라이드 기본 스타일 */
.flex-slide { flex: 1; min-width: 200px; max-height: 600px; transition: all 0.5s ease; position: relative;  cursor: pointer; overflow: hidden; display: flex; justify-content: center; align-items: center; border-radius: 20px;}
.flex-slide:hover { flex: 3; max-width: 1000px;}
  
/* 슬라이드가 접혔을 때 크기 조절 */
.flex-slide:not(:hover) { flex: 1; max-width: 330px;}

/* 고정된 슬라이드 */
.flex-slide.fixed {flex: 3;max-width: 1000px;}
  
/* 첫 번째 슬라이드 로딩 시 타이틀 및 배경 유지 */
.flex-slide:first-child.hover { background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/main/portfolio/portfolio1.png) no-repeat center center / cover;
}
  
/* 고정 상태 */
.Solution_Developmen.fixed .flex-about { opacity: 1;}
.Solution_Developmen.fixed .flex-about .flex-top {opacity: 1;}
.Solution_Developmen.fixed .flex-about .flex-top span {font-size: 3rem;}
.Solution_Developmen.fixed .flex-keyword{ opacity: 1; display: flex; gap: 10px; left: 5%; bottom: 10%; }
.flex-slide.fixed .flex-keyword ul { display: flex; flex: 0; height: auto; width: 100%;}
.flex-slide.fixed.flex-keyword ul>li {background: #fff; color: #004E81; border-radius: 5px; padding: 10px 20px;}
.Solution_Developmen.fixed .flex-title { opacity: 0;}
.flex-slide:hover .flex-keyword {opacity: 1;}
.flex-slide:first-child.fixed { background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/main/portfolio/portfolio1.png) no-repeat center center / cover; position: relative;}

@media (max-width:1150px) {
  .flex-slide:hover{max-width: 720px;}
  .flex-slide:not(:hover) {min-width:200px}
  .flex-slide:hover .flex-keyword ul {flex-direction: column; width: 170px;}
}

@media ( max-width : 1024px) {
 .portfolio { margin: 100px auto;}
 .portfolio h2 {font-size: 3.5rem; padding-bottom: 20px; }
 .portfolio h2::after { left: 155px; bottom: 44%; }
}

@media (max-width: 768px) {
  .portfolio h2 {font-size: 3rem; padding-bottom: 20px; } 
  .portfolio h2::after { left: 133px; bottom: 46%; }
}

@media (max-width: 750px) {
  .portfolio { margin: 80px auto;}
  .flex-slide:not(:hover) {max-width: 500px;}
  .flex-container { display: flex; flex-direction: column; align-items: center; justify-content: flex-start; gap: 20px; width: 100%; height: auto; overflow: visible;}
  .flex-slide { width: 100%; max-width: 500px; min-height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center; overflow: visible; flex: 0 1 auto; transition: all 0.5s ease;}

  /* 첫 번째 슬라이드가 페이지 로드 시 펼쳐진 상태로 고정 */
  .flex-slide.fixed:first-child { flex: 3;  max-width: 500px; min-height: 500px; /* 펼쳐지는 높이를 고정 */ background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/main/portfolio/portfolio1.png) no-repeat center center / cover; }

  /* 나머지 슬라이드는 접힌 상태 */
  .flex-slide:not(:first-child) {flex: 1; max-width: 500px; min-height: 100px; }

  /* 나머지 슬라이드들 호버했을 때 펼쳐짐 */
  .flex-slide:hover {  flex: 3; max-width: 500px; min-height: 500px;background-size: cover; background-position: center;}

  .flex-slide.fixed .flex-keyword ul { flex-direction: column; flex: 0; height: auto; width: 170px; padding-top: 5px;}
}

@media (max-width: 500px) {
  .portfolio { margin: 60px auto;}
  .portfolio h2 {font-size: 2.5rem;}
  .portfolio h2::after { left: 113px; bottom: 51%; }
}

@media (max-width: 400px) {
  .portfolio h2 {font-size: 2rem;}
  .portfolio h2::after { left: 90px; bottom: 54%; }
}

  
.flex-title { transition: opacity 0.1s ease, transform 0.1s ease; position: absolute;  top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 2rem;}
.flex-slide:hover .flex-title { opacity: 0; transform: translate(-50%, -50%)}
  
.flex-about {opacity: 0; transition: opacity 0.3s ease, transform 0.3s ease; position: absolute; font-size: 1.3rem; top: 10%; left: 5%;}
.flex-slide:hover .flex-about { opacity: 1;}

.flex-slide:hover .flex-about .flex-top {top: 50%;}
.flex-slide:hover .flex-about .flex-top span {font-size: 3rem;}
.flex-slide .flex-keyword {opacity: 0;}
.flex-slide:hover .flex-keyword {opacity: 1;}
.flex-slide .flex-keyword ul { position: absolute; display: flex; gap: 10px; left: 5%; bottom: 10%;}
.flex-slide .flex-keyword ul>li { background: #fff; color: #004E81; border-radius: 5px; padding: 10px 20px;}

.Solution_Developmen, .APP_WEB, .etc {height: 100vh;}
.Solution_Developmen {background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/main/portfolio/portfolio1.png)no-repeat center center / cover;}
.Solution_Developmen:hover  {background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/main/portfolio/portfolio1.png)no-repeat center center / cover;}

.APP_WEB { background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/main/portfolio/portfolio2.png)no-repeat  center center / cover;}
.APP_WEB:hover { background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/main/portfolio/portfolio2.png)no-repeat  center center / cover;}
.etc { background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/main/portfolio/portfolio3.png)no-repeat  center center / cover;}
.etc:hover  { background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/main/portfolio/portfolio3.png)no-repeat  center center / cover;}

/* 더보기 */
.portfolio .view_more {padding-top: 40px; display: flex; position: relative; justify-content: flex-end; font-size: 1.4rem;  padding-bottom: 5px;color: #010101; cursor: pointer;}
.portfolio .view_more a {position: relative; padding:0 8px 5px 0;}

/* 더보기 밑줄 */
.portfolio .view_more a::after {content: ""; position: absolute; right: -11px; bottom: 0; width: 100%; height: 1.5px; padding-right: 15px; background-color: #000;}
    
/* 반쪽 화살표 */
.portfolio .view_more a::before { content: ""; position: absolute; right: -8px; /* 화살표 위치 조정 */ bottom: -1px; width: 0.3px; height: 9px; border-bottom: 2px solid #000; border-right: 2px solid #000; transform: rotate(-45deg); border-radius: 20px; }
 
/* timeline_section 소나무정보기술에 */
/* 전체 섹션 */
.timeline_section {  padding-bottom: 120px; }

/* 제목 */
.timeline_section h2 { font-size: 4rem; position: relative;  background: linear-gradient( #004E81, #00101B); color: transparent; -webkit-background-clip: text; background-clip: text; padding-bottom: 50px; display: inline-block; }

/* .timeline_section span {  color: #F0A550; font-size: 5rem;  margin: 0; padding: 0;} */
.timeline_section h2::after {content: ""; position: absolute; width: 8px; height: 8px; border-radius: 50%; background: #F0A550; right: -10px; bottom: 54%; opacity: 0.5;}

/* div 타임라인 컨테이너 */
.timeline_container { display: flex; justify-content: space-between; gap: 59px; align-items: center;}

/* 왼쪽 이미지 */
.timeline_image { width: 835px; height: 605px;}
.timeline_image img { width: 100%; height: 100%; object-fit: cover;  border-radius: 20px; }

/* 오른쪽 타임라인 항목 */
.timeline_events { display: grid; grid-template-columns: repeat(2, 1fr); /* 2열 구성 */ grid-template-rows: auto auto auto; /* 3행 구성 */ grid-row-gap: 20px; /* 세로 간격 유지 */  grid-column-gap: 20px; /* 가로 간격 줄이기 */ max-width: 826px; align-items: center; text-align: left; flex-shrink: 1;}
.timeline_event { background-color: #fff; border-radius: 20px; box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.2); padding: 0 0 0 41px;/* 글자 왼쪽 패딩 */ width: 100%; height: 240px; display: flex; flex-direction: column; position: relative;}
.timeline_event img { position: absolute; top: 30px; right: 25px; width: 100%;  height: 100%;}
.timeline_event:nth-child(2) img { width: 100px; height: 95px;}
.timeline_event:nth-child(3) img { width: 127px; height: 89px;}
.timeline_event:nth-child(5) img { width: 90px;height: 95px;}
.timeline_event:nth-child(6) img { width: 100px; height: 95px;}

.event_year { font-size: 3rem; font-weight: 600; color: #004E81; margin: 46px 0 40px;}
.event_description { font-size: 2rem; color: #010101; font-weight: 400; line-height: 31px}
.line-break-text { white-space: nowrap; /* 기본적으로 한 줄에 표시 */ position: relative; /* 가상 요소 포지셔닝을 위한 설정 */}

/* 협력업체 로고 슬라이더 */
.partner_logos { grid-column: 1 / span 2; /* 그리드의 전체 너비 사용 */ overflow: hidden; box-sizing: border-box;}
/* 슬라이드의 가로 정렬 */
.partner_logos .swiper-wrapper { display: flex; align-items: center; padding: 24px 0;}
/* 각 로고 슬라이드 */
.partner_logos .swiper-slide { margin-right: 0; display: flex; justify-content: center; align-items: center; width: 170px; /* 로고 크기 */ height: 26px; /* 로고 높이 */ flex-shrink: 0; /* 슬라이드가 줄어들지 않도록 */}
/* 로고 이미지 */
.partner_logos .swiper-slide img { max-width: 100%; max-height: 100%; object-fit: contain;}
.timeline_events  { position: relative; }


/* 더보기 */
.timeline_section .timeline_events .view_more_div { position: absolute; bottom: -70px; right: 20px; }
.timeline_section .timeline_events .view_more { padding: 0 8px 7px 0; position: relative; font-size: 1.4rem; color: #010101; }

/* 더보기 밑줄 */
.timeline_section .timeline_events .view_more::after { content: ""; position: absolute; right: -11px; bottom: 0; width: 100%; height: 1.5px; padding-right: 15px; background-color: #000;}

/* 반쪽 화살표 */
.timeline_section .timeline_events .view_more::before { content: ""; position: absolute; right: -8px; /* 화살표 위치 조정 */ bottom: -1px; width: 0.3px; height: 9px; border-bottom: 2px solid #000; border-right: 2px solid #000; transform: rotate(-45deg); border-radius: 20px;}

@media (max-width: 1200px) {
  .event_description { font-size: 1.7rem;}
}

/* 반응형 디자인 1024 */
@media (max-width: 1024px) {
  .timeline_section { max-width: 1024px; padding-bottom: 100px;}
  .timeline_container { gap: 20px; }
  .timeline_section h2 { font-size: 3.5rem;  padding-bottom: 30px; }
  .timeline_image { min-width: 100px; height: 450px; /* 타임라인 이미지 높이 */}
  .timeline_event img { position: absolute; top: 30px; right: 18px;}

  .timeline_events { display: grid; grid-template-columns: repeat(2, 1fr); /* 2열 구성 */ grid-row-gap: 0px; /* 가로 간격*/ grid-column-gap: 20px; /* 세로 간격 */ }
  .timeline_event{ box-sizing: border-box; /* 패딩/보더 포함 */ width: 100%; /* 부모 그리드 셀에 맞춤 */ min-width: 0px; /* 최소 너비 */ height: 188px; /* 오른쪽 타임라인 항목 높이 */ padding-left: 16px;/* 글자 왼쪽 패딩 */ }
  .event_year { font-size: 2.4rem; font-weight: 600; margin: 30px 0 30px;}
  .event_description { font-size: 1.3rem;}
  .timeline_event:nth-child(2) img { width: 68px; height: 60px;}
  .timeline_event:nth-child(3) img { width: 77px; height: 53px;}
  .timeline_event:nth-child(5) img { width: 70px; height: 73px;}
  .timeline_event:nth-child(6) img { width: 74px; height: 70px;}
  .partner_logos .swiper-slide { width: 150px; /* 로고 크기 */  height: 22px; /* 로고 높이 */ }
  .partner_logos .swiper-wrapper { padding: 24px 0; }

}

/* 반응형 디자인 797 */
@media (max-width : 797px) {
  .timeline_section { max-width: 797px; }
  .timeline_container { gap: 20px; }
  .timeline_container {  flex-direction: column;}
  .timeline_events { grid-template-columns: 1fr;}
  .timeline_title { font-size: 2.4rem; font-weight: 700; min-width: 0px; margin-bottom: 20px; padding-left: 3px; }
  .timeline_image { /* 왼쪽 이미지 */ min-width: 0px; width: 100%; height: 350px; /* 타임라인 이미지 높이 */ margin-bottom: 0px;}
  .timeline_image img { object-fit: cover;}
  .timeline_event img { /* 오른쪽 아이콘들 */ position: absolute; top: 15px; right: 20px; }
  .timeline_events { max-width: 100%; display: flex; flex-wrap: wrap; /* 줄바꿈 허용 */ row-gap: 0px; /* 가로 간격*/ column-gap: 15px; /* 세로 간격 */ justify-content: space-between;}
  .timeline_event{ flex: 1 1 calc(50% - 10px); max-width: calc(50% - 10px); /* 최대 너비 제한 */ box-sizing: border-box; /* padding 포함 */ height: 138px; /* 오른쪽 타임라인 항목 높이 */ padding-left: 20px;/* 글자 왼쪽 패딩 */}
  .event_year { font-size: 1.9rem; font-weight: 600; margin: 25px 0 15px;}
  .event_description { font-size: 1.2rem; line-height: 1.8;}
  .event_description br:nth-of-type(2) { display: none; /* 두 번째 줄바꿈 제거 */}

  .timeline_event:nth-child(2) img {  width: 58px; height: 50px; }
  .timeline_event:nth-child(3) img {  width: 70px;  height: 46px; }
  .timeline_event:nth-child(5) img { width: 54px; height: 57px; }
  .timeline_event:nth-child(6) img { width: 57px; height: 57px; }
  .partner_logos .swiper-slide { width: 100px; /* 로고 크기 */ height: 14px; /* 로고 높이 */ }
  .partner_logos .swiper-wrapper { padding: 15px 0; }
}

@media (max-width :768px) {
  .timeline_section { padding: 80px auto;}
  .timeline_section h2 { font-size: 3rem; padding-bottom: 20px;  }
}

@media (max-width: 591px) {
  .event_description br:nth-of-type(2) { display: block; }
}

/* 반응형 디자인 500 */
@media (max-width : 500px) {
  .timeline_section { max-width: 500px; padding-bottom: 60px; }
  .timeline_container { gap: 20px; }
  .timeline_container { flex-direction: column; }

  .timeline_events { grid-template-columns: 1fr; }
  .timeline_section h2 { font-size: 2.5rem; padding-bottom: 20px; padding-left: 3px; }
  .timeline_section h2::after { bottom: 51%;}
  .timeline_image { /* 왼쪽 이미지 */ min-width: 0px; width: 100%;height: 300px; /* 타임라인 이미지 높이 */ margin-bottom: 0px; object-fit: cover;}

  .timeline_event img { /* 오른쪽 아이콘들 */position: absolute; top: 15px; right: 15px;}
  .timeline_events { max-width: 100%; display: flex; flex-wrap: wrap; /* 줄바꿈 허용 */ row-gap: 0px; /* 가로 간격*/ column-gap: 15px; /* 세로 간격 */ justify-content: space-between;}
  .timeline_event{ flex: 1 1 calc(50% - 10px); max-width: calc(50% - 10px); /* 최대 너비 제한 */ box-sizing: border-box; /* padding 포함 */ height: 138px; /* 오른쪽 타임라인 항목 높이 */ padding-left: 16px;/* 글자 왼쪽 패딩 */}
  .event_year { font-size: 1.9rem; font-weight: 600; margin: 25px 0 10px;}
  .event_description { font-size: 1.2rem; line-height: 1.8; }

  .line-break-text::after { content: "중소벤처기업부 \A [중소기업 혁신바우처] \A 수행기관 선정"; white-space: pre; /* 줄바꿈 인식 */ position: absolute; /* 기존 텍스트 위에 위치 */ color: #000; /* 표시할 텍스트 색상 */ top: 0; left: 0;}
  /* 기존 텍스트 숨기기 */
  .line-break-text {color: transparent; /* 기존 텍스트 숨김 */}

  .timeline_event:nth-child(2) img { width: 58px; height: 50px; }
  .timeline_event:nth-child(3) img { width: 70px; height: 46px;}
  .timeline_event:nth-child(5) img { width: 54px; height: 57px;}
  
  .timeline_event:nth-child(6) img { width: 57px; height: 57px;}
  .partner_logos .swiper-slide { width: 100px; /* 로고 크기 */height: 14px; /* 로고 높이 */}
  .partner_logos .swiper-wrapper { padding: 15px 0;}

}

/* 반응형 디자인 400 */
@media (max-width : 400px) {
  .timeline_section { max-width: 400px; padding-bottom: 50px;  }
  .timeline_container { gap: 20px; }
  .timeline_container { flex-direction: column; }

  .timeline_title { font-size: 2rem; font-weight: 700; min-width: 0px; margin-bottom: 10px; padding-left: 3px; }
  .timeline_image { /* 왼쪽 이미지 */ min-width: 0px; width: 100%; height: 300px; /* 타임라인 이미지 높이 */ margin-bottom: 0px; object-fit: cover;}

  .timeline_event img { /* 오른쪽 아이콘들 */ position: absolute; top: 15px; right: 15px;}
  .timeline_events { max-width: 100%; display: flex; flex-wrap: wrap; /* 줄바꿈 허용 */ row-gap: 10px; /* 가로 간격*/ justify-content: space-between;}
  .timeline_event{ flex: 100%; max-width: 100%; box-sizing: border-box; /* padding 포함 */ height: 120px; /* 오른쪽 타임라인 항목 높이 */ padding-left: 20px;/* 글자 왼쪽 패딩 */}

  .event_year { font-size: 1.9rem; font-weight: 600; margin: 25px 0 10px;}
  .event_description { font-size: 1.2rem; line-height: 1.8;}
  .line-break-text::after { display: none; }
  .line-break-text { color: #010101; /* 기존 텍스트 보이기 */ }
  .timeline_event:nth-child(2) img { width: 58px; height: 50px;}

  .timeline_event:nth-child(3) img {  width: 70px; height: 46px;}
  .timeline_event:nth-child(5) img { width: 54px; height: 57px;}
  .timeline_event:nth-child(6) img { width: 57px; height: 57px;}
  .partner_logos .swiper-slide { width: 100px; /* 로고 크기 */ height: 12px; /* 로고 높이 */}
  .partner_logos .swiper-wrapper { padding: 5px 0; }
}

/* 뉴스 */
.News { padding: 120px 0;}
.News  .inner {display: flex; justify-content: space-between; align-items: center;}
.News .news_text {position: relative; margin: 0 auto; /* flex: 4.8; max-width: 48%; */}
.News .news_text h2 {font-size: 5rem; background: linear-gradient( #004E81, #00101B); color: transparent; -webkit-background-clip: text; background-clip: text; color: transparent; padding-bottom: 5px; }
.News .news_text p { color: #3B3B3D;}
.News .news_tab {display: flex; gap: 25px; margin-top: 90px; justify-content: center;}
.News .news_tab li {display: block; color: #fff; max-width: 168px; height: 50px; width: 100%; text-align: center; border-radius: 10px; cursor: pointer; padding: 14px 0; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); transition: all 0.5s;}
.News .news_tab li:nth-child(1), .News .news_tab li:nth-child(2) {background: #004E81;}
.News .news_tab li:nth-child(1):hover,
.News .news_tab li:nth-child(2):hover {background: #F0A550;} 
.News .news_tab li:nth-child(1).active, 
.News .news_tab li:nth-child(2).active {background: #F0A550;} 
.News .news_img {flex: 5.2; max-width: 52%;}
.News .swiper { width: 100%; height: 600px; display: flex; flex-direction: column;align-items: center; text-align: center;}
.News .slide-content { display: flex; flex-direction: column; align-items: center;}
.News .swiper-slide { text-align: center; font-size: 1.5rem; justify-content: center; align-items: center; width: 100%; min-height: 450px; height: auto; margin-top: 50px;}
.News .swiper-slide .slide-text_rigth, .slide-text_left {color: #9E9EA2; font-weight: 200; font-size: 1.3rem;}
.News .swiper-slide img { display: block; width: 100%; max-width: 800px;  height: auto; max-height: 450px; object-fit: cover; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)}
.News .slide-text { display: flex; justify-content: space-between; width: 90%; padding: 10px 0;}
.News .cont { display: none;}
.News .cont.active { display: block;}
.News .news_tab li.is_on { background: #F0A550;}

/* 스크롤바 */
.mySwiper .swiper-scrollbar { position: absolute; right: 5%; top: 13%; width: 2px;  height: 70%; background: rgba(0, 0, 0, 0.1);}

.mySwiper  .swiper-scrollbar-drag { position: absolute; left: -6px; background: #fff; width: 15px; height: 15px; border-radius: 50%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

@media (max-width:1720px) {
.News .swiper-slide img {max-width: 780px;}
.News .slide-text {max-width: 780px;}
}

@media (max-width:1680px) {
.News .swiper-slide img {max-width: 750px;}
.News .slide-text {max-width: 750px;}
}

@media (max-width:1600px) {
.News .swiper-slide img {max-width: 700px;}
.News .slide-text {max-width: 700px;}
}

@media (max-width:1500px) {
.News .swiper-slide img {max-width: 650px;}
.News .slide-text {max-width: 650px;}
}

@media (max-width:1400px) {
.News .swiper-slide img {max-width: 600px;}
.News .slide-text {max-width: 600px;}
}

@media (max-width:1300px) {
.News .swiper-slide img {max-width: 550px;}
.News .slide-text {max-width: 550px;}
}

@media (max-width:1200px) {
  .News .inner {flex-direction: column;}
  .News .news_text h2 {font-size: 4.5rem; }
  .News .news_img {flex: 1; max-width: 100%;}
  .mySwiper .swiper-scrollbar {display: none;}
  .News .news_text {text-align: center;}
  .News .news_tab {margin: 40px 0 30px;}
  .News .slide-text{width: 100%;}
  .News .swiper {height: 500px; left: 0;}
}

@media ( max-width : 1024px) {
  .News { padding: 120px 0 100px;}
  .News .news_text h2 {font-size: 4rem; }
}

@media ( max-width : 768px) {
  .News { padding: 100px 0 80px;}
  .News .news_text h2 {font-size: 3.5rem; }
  .News .news_tab {margin: 30px 0;}
}

@media (max-width:650px) {
  .News .swiper-slide img  {width: 580px;}
  .News .swiper {height: 450px;}
}

@media (max-width:600px) {
  .News .news_text h2 {font-size: 3rem; }
  .News .news_text p {font-size: 1.2rem;}
  .News .news_tab li {display: block; color: #fff; max-width: 168px; height: 40px; padding: 10px 0;}
  .News .swiper-slide {min-height: 400px;}
  .News .swiper-slide img  {width: 400px; margin: 0 auto; height: 300px;}
  .News .swiper {height: 300px;}
  .News .swiper-slide {margin-top: 10px;}
  .News .swiper-slide .slide-text_rigth, .slide-text_left {font-size: 1rem;}
}

@media (max-width:500px){
  .News { padding: 80px 0 60px;}
  .News .news_text h2 {font-size: 2.5rem; }
  .News .swiper-slide {min-height: 300px; margin-top: 0;}
  .News .slide-text {width: 350px; font-size: 1rem; }
  .News .swiper-slide img  {width: 350px; margin: 0 auto; height: 250px;}
}

@media (max-width:500px){
  .News { padding: 60px 0 40px;}
}

/* 지도 */
.Directions {  gap: 40px; height: 600px;}
.Directions .inner { position: relative;}
.Directions .menu li {float: left; margin-right: 20px; }
.Directions .menu li a { font-size: 2.5rem; font-weight: 600; border-bottom: 1px solid #d9d9d9; padding-bottom: 10px;}
.Directions .menu li:hover a{ border-bottom: 1px solid var(--main-color);}
.Directions .Directions_cont {display: none; flex-direction: column; align-items: flex-start;  gap: 50px; position: absolute; z-index: -1; width: 100%;}
.Directions .Directions_cont.active {display: flex;}
.Directions .Directions_cont .map { position: absolute; top: 12%; left: 30%;}
.Directions .Directions_cont .map iframe { width: 100%;  max-width: 1200px; height: 450px; aspect-ratio: 16 / 5;}
.Directions .text {width: 100%;}
.Directions .text p:nth-child(1) {padding-top: 70px; background: url(../images/Directions/icon1.png) no-repeat bottom 4% left 5px;}
.Directions .text p:nth-child(2) { background: url(../images/Directions/icon2.png) no-repeat bottom 3% left 5px;}
.Directions .text p:nth-child(3){ background: url(../images/Directions/icon3.png) no-repeat bottom 6% left 5px;}

.Directions .text p { padding-top: 30px; padding-left: 40px;}
.Directions .menu li.is_on .btn{ font-weight:bold; color:var(--main-color)}

@media (max-width:1400px) {
  .Directions .inner { padding: 0 250px; transition: all 0.5s ease-in;}
  .Directions .main {height: 700px;}
  
  .content-wrap .tab1 .text { text-align: center;}
  .Directions .Directions_cont.active {gap: 25px;}
  .Directions .Directions_cont { position: relative; flex-direction: column; align-items:center }
  .Directions .Directions_cont .map iframe { max-width: 800px; height: 350px; }
  .Directions .Directions_cont .map { position: static; order: 1;  width: 100%; max-width: 800px; }
  .Directions  .text p:nth-child(1) {padding-top: 40px;}
  .Directions .text p { padding-top: 20px; padding-left: 30px;}
}

@media (max-width:1200px) {
  .Directions .inner { padding: 0 200px;}
}

@media (max-width:1100px) {
  .Directions .inner { padding: 0 150px;}
}

@media (max-width:1024px) {
  .Directions .inner { padding: 0 100px;}
}

@media (max-width:850px) {
  .Directions .inner { padding: 0 50px;}
}

@media (max-width:768px) {
  .Directions .inner { padding: 0 30px;}
}

@media (max-width:500px) {
  .Directions .main {padding-top: 50px; height: 550px;}
  .Directions .menu li a {font-size: 2rem}
  .Directions .text p  {font-size: 1.2rem; padding-top: 20px;}
  .Directions .text p:nth-child(1) {padding-top: 30px;}
}