@charset "utf-8";
body { font-family: 'Pretendard', sans-serif; }


/* 전체 섹션 */
.timeline_section {
  max-width: 1720px;
  margin: 142px auto 140px;
  text-align: center;
}

/* 제목 */
.timeline_title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 42px;
  text-align: left;
}

span { 
    color: rgba(240, 165, 80, 1);
    font-size: 5rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
 }

/* div 타임라인 컨테이너 */
.timeline_container {
  display: flex;
  justify-content: space-between;
  gap: 59px;
  align-items: center;
}


/* 왼쪽 이미지 */
.timeline_image {
  width: 835px;
  height: 605px;
}

.timeline_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}


/* 오른쪽 타임라인 항목 */
.timeline_events {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 구성 */
  grid-template-rows: auto auto auto; /* 3행 구성 */
  grid-row-gap: 20px; /* 세로 간격 유지 */
  grid-column-gap: 20px; /* 가로 간격 줄이기 */
  max-width: 826px;
  align-items: center;
  text-align: left;
  flex-shrink: 1;
}

.timeline_event {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.2);
  padding: 0 0 0 41px;/* 글자 왼쪽 패딩 */
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline_event img {
    position: absolute;
    top: 30px;
    right: 25px;
    width: 100%;
    height: 100%;
}

.timeline_event:nth-child(2) img {
     width: 100px;
    height: 95px;
}
.timeline_event:nth-child(3) img {
    width: 127px;
    height: 89px;
}

.timeline_event:nth-child(5) img {
    width: 90px;
    height: 95px;
}

.timeline_event:nth-child(6) img {
    width: 100px;
    height: 95px;
}


.event_year {
  font-size: 3rem;
  font-weight: 600;
  color: #004E81;
  margin: 46px 0 40px;
}

.event_description {
  font-size: 2rem;
  color: #010101;
  font-weight: 400;
  line-height: 31px
}

.line-break-text {
  white-space: nowrap; /* 기본적으로 한 줄에 표시 */
  position: relative; /* 가상 요소 포지셔닝을 위한 설정 */
}


/* 협력업체 로고 슬라이더 */
.partner_logos {
  grid-column: 1 / span 2; /* 그리드의 전체 너비 사용 */
  overflow: hidden;
  box-sizing: border-box;
}

/* 슬라이드의 가로 정렬 */
.partner_logos .swiper-wrapper {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

/* 각 로고 슬라이드 */
.partner_logos .swiper-slide {
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px; /* 로고 크기 */
  height: 26px; /* 로고 높이 */
  flex-shrink: 0; /* 슬라이드가 줄어들지 않도록 */
}

/* 로고 이미지 */
.partner_logos .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.timeline_events  {
  position: relative;
}

/* 더보기 */
.view_more_div {
position: absolute;
bottom: -70px;
right: 20px;
}


.view_more {
padding-bottom: 5px;
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  color: #010101;
  text-decoration: none;
}

/* 더보기 밑줄 */
.view_more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.75px;
  padding-right: 15px;
  background-color: #000;
}

/* 반쪽 화살표 */
.view_more::before {
  content: "";
  position: absolute;
  right: -13px; /* 화살표 위치 조정 */
  bottom: -1px;
  width: 0.3px;
  height: 9px;
  border-bottom: 1.75px solid #010101;
  border-radius: 1px;
  border-right: 2px solid #010101;
  transform: rotate(-45deg); /* 반쪽 화살표 만들기 */
}

/* 반응형 디자인 1024 */
 @media (max-width: 1024px) {
  .timeline_section {
  max-width: 1024px;
  margin: 100px auto 100px;
  padding: 0 20px;
  }
  .timeline_container {
  gap: 20px;
  }
  .timeline_title {
  font-size: 3rem;
  font-weight: 700;
  min-width: 500px;
  margin-bottom: 30px;
  }
 .timeline_image {
  min-width: 100px;
  height: 450px; /* 타임라인 이미지 높이 */
 }
 .timeline_event img {
    position: absolute;
    top: 30px;
    right: 18px;
 }

 .timeline_events {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 구성 */
  grid-row-gap: 0px; /* 가로 간격*/
  grid-column-gap: 20px; /* 세로 간격 */
 }
  .timeline_event{
  box-sizing: border-box; /* 패딩/보더 포함 */
  width: 100%; /* 부모 그리드 셀에 맞춤 */
  min-width: 0px; /* 최소 너비 */
  height: 188px; /* 오른쪽 타임라인 항목 높이 */
  padding-left: 16px;/* 글자 왼쪽 패딩 */
  }
 .event_year {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 30px 0 30px;
 }
 .event_description {
  font-size: 1.3rem;
 }
 .timeline_event:nth-child(2) img {
     width: 68px;
    height: 60px;
}
.timeline_event:nth-child(3) img {
    width: 77px;
    height: 53px;
}

.timeline_event:nth-child(5) img {
    width: 70px;
    height: 73px;
}

.timeline_event:nth-child(6) img {
    width: 74px;
    height: 70px;
}
.partner_logos .swiper-slide {
  width: 150px; /* 로고 크기 */
  height: 22px; /* 로고 높이 */
}
.partner_logos .swiper-wrapper {
  padding: 24px 0;
}

.view_more {
  font-size: 1rem;
}
.view_more_div {
bottom: -40px;
right: 22px;
}
}


/* 반응형 디자인 500 */
  @media (max-width : 500px) {
  .timeline_section {
  max-width: 500px;
  margin: 70px auto 70px;
  padding: 0 20px;
  }
  .timeline_container {
  gap: 20px;
  }
  .timeline_container {
    flex-direction: column;
  }
   .timeline_events {
    grid-template-columns: 1fr;
  }
  .timeline_title {
  font-size: 2.4rem;
  font-weight: 700;
  min-width: 0px;
  margin-bottom: 20px;
  padding-left: 3px;
  }
 .timeline_image { /* 왼쪽 이미지 */
  min-width: 0px;
  width: 100%;
  height: 300px; /* 타임라인 이미지 높이 */
  margin-bottom: 0px;
  object-fit: cover;
 }
 .timeline_event img { /* 오른쪽 아이콘들 */
  position: absolute;
  top: 15px;
  right: 15px;
 }
 .timeline_events {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap; /* 줄바꿈 허용 */
  row-gap: 0px; /* 가로 간격*/
  column-gap: 15px; /* 세로 간격 */
  justify-content: space-between;
 }
  .timeline_event{
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px); /* 최대 너비 제한 */
  box-sizing: border-box; /* padding 포함 */
  height: 138px; /* 오른쪽 타임라인 항목 높이 */
  padding-left: 16px;/* 글자 왼쪽 패딩 */
}
.event_year {
  font-size: 1.9rem;
  font-weight: 600;
  margin: 25px 0 10px;
}
 .event_description {
  font-size: 1.2rem;
  line-height: 1.8;
}

.line-break-text::after {
  content: "중소벤처기업부 \A [중소기업 혁신바우처] \A 수행기관 선정";
  white-space: pre; /* 줄바꿈 인식 */
  position: absolute; /* 기존 텍스트 위에 위치 */
  color: #000; /* 표시할 텍스트 색상 */
  top: 0;
  left: 0;
}
  /* 기존 텍스트 숨기기 */
  .line-break-text {
    color: transparent; /* 기존 텍스트 숨김 */
  }

 .timeline_event:nth-child(2) img {
     width: 58px;
    height: 50px;
}
.timeline_event:nth-child(3) img {
    width: 70px;
    height: 46px;
}

.timeline_event:nth-child(5) img {
    width: 54px;
    height: 57px;
}

.timeline_event:nth-child(6) img {
    width: 57px;
    height: 57px;
}
.partner_logos .swiper-slide {
  width: 100px; /* 로고 크기 */
  height: 14px; /* 로고 높이 */
}
.partner_logos .swiper-wrapper {
  padding: 15px 0;
}
.view_more {
  font-size: 0.8rem;
}
.view_more_div {
bottom: -35px;
right: 15px;
}
/* 더보기 밑줄 */
.view_more::after {
  height: 1px;
  width: 96%;
  bottom: 2px;
}

/* 반쪽 화살표 */
.view_more::before {
  width: 0.2px;
  height: 9px;
  right: -10px; /* 화살표 위치 조정 */
  bottom: 0px;
  border-bottom: 1px solid #010101;
  border-right: 1px solid #010101;
}
}

/* 반응형 디자인 400 */
  @media (max-width : 400px) {
  .timeline_section {
  max-width: 400px;
  margin: 50px auto 50px;
  padding: 0 20px;
  }
  .timeline_container {
  gap: 20px;
  }
  .timeline_container {
    flex-direction: column;
  }
  .timeline_title {
  font-size: 1.8rem;
  font-weight: 700;
  min-width: 0px;
  margin-bottom: 10px;
  padding-left: 3px;
  }
 .timeline_image { /* 왼쪽 이미지 */
  min-width: 0px;
  width: 100%;
  height: 300px; /* 타임라인 이미지 높이 */
  margin-bottom: 0px;
  object-fit: cover;
 }
 .timeline_event img { /* 오른쪽 아이콘들 */
  position: absolute;
  top: 15px;
  right: 15px;
 }
 .timeline_events {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap; /* 줄바꿈 허용 */
  row-gap: 10px; /* 가로 간격*/
  justify-content: space-between;
 }
  .timeline_event{
  flex: 100%;
  max-width: 100%;
  box-sizing: border-box; /* padding 포함 */
  height: 120px; /* 오른쪽 타임라인 항목 높이 */
  padding-left: 20px;/* 글자 왼쪽 패딩 */
}
.event_year {
  font-size: 1.9rem;
  font-weight: 600;
  margin: 25px 0 10px;
}
 .event_description {
  font-size: 1.2rem;
  line-height: 1.8;
}

.line-break-text::after {
display: none;
}
.line-break-text {
color: #010101; /* 기존 텍스트 보이기 */
}

 .timeline_event:nth-child(2) img {
     width: 58px;
    height: 50px;
}
.timeline_event:nth-child(3) img {
    width: 70px;
    height: 46px;
}

.timeline_event:nth-child(5) img {
    width: 54px;
    height: 57px;
}

.timeline_event:nth-child(6) img {
    width: 57px;
    height: 57px;
}
.partner_logos .swiper-slide {
  width: 100px; /* 로고 크기 */
  height: 12px; /* 로고 높이 */
}
.partner_logos .swiper-wrapper {
  padding: 5px 0;
}
.view_more {
  font-size: 0.8rem;
}
.view_more_div {
bottom: -35px;
right: 15px;
}
/* 더보기 밑줄 */
.view_more::after {
  height: 1px;
  width: 94%;
  bottom: 2px;
}

/* 반쪽 화살표 */
.view_more::before {
  width: 0.2px;
  height: 7px;
  right: -10px; /* 화살표 위치 조정 */
  bottom: 0px;
  border-bottom: 2px solid #010101;
  border-right: 1.8px solid #010101;
}
}