@charset "utf-8";



.portfolio {color: #fff; margin: 100px auto;}
.portfolio h2 {font-size: 4rem; position: relative; background: linear-gradient( #004E81, #00101B); color: transparent; -webkit-background-clip: text; background-clip: text; color: transparent; padding-bottom: 50px;}
.portfolio h2::after {content: ""; position: absolute; width: 8px; height: 8px; border-radius: 50%; background: #F0A550; left: 176px; bottom: 56%; opacity: 0.5;}

.flex-container { display: flex; gap: 20px; justify-content: center;
    align-items: center; max-width: 1720px;
  }
  
  /* 슬라이드 기본 스타일 */
  .flex-slide { flex: 1; min-width: 200px; max-height: 600px; transition: all 0.5s ease; position: relative;  cursor: pointer; overflow: hidden; display: flex; justify-content: center; align-items: center; border-radius: 20px;}
  .flex-slide:hover { flex: 3; max-width: 1000px;}
  
  /* 슬라이드가 접혔을 때 크기 조절 */
  .flex-slide:not(:hover) { flex: 1; max-width: 330px;}

  /* 고정된 슬라이드 */
.flex-slide.fixed {flex: 3;max-width: 1000px;}
  
  /* 첫 번째 슬라이드 로딩 시 타이틀 및 배경 유지 */
  .flex-slide:first-child.hover {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/main/portfolio/portfolio1.png) no-repeat center center / cover;
  }
  
  /* 고정 상태 */
  .Solution_Developmen.fixed .flex-about { opacity: 1;}
.Solution_Developmen.fixed .flex-about .flex-top {opacity: 1;}
.Solution_Developmen.fixed .flex-about .flex-top span {font-size: 3rem;}
  .Solution_Developmen.fixed .flex-keyword{ opacity: 1; display: flex; gap: 10px; left: 5%; bottom: 10%; }
.flex-slide.fixed .flex-keyword ul { display: flex; flex: 0; height: auto; width: 100%;}
.flex-slide.fixed.flex-keyword ul>li {background: #fff; color: #004E81; border-radius: 5px; padding: 10px 20px;
}
.Solution_Developmen.fixed .flex-title { opacity: 0;}
  .flex-slide:hover .flex-keyword {opacity: 1;}
  .flex-slide:first-child.fixed { background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/main/portfolio/portfolio1.png) no-repeat center center / cover; position: relative;}

  @media (max-width:1150px) {
    .flex-slide:hover{max-width: 720px;}
    .flex-slide:not(:hover) {min-width:200px}
    .flex-slide:hover .flex-keyword ul {flex-direction: column; width: 170px;}
  }
  @media (max-width: 750px) {
    .flex-slide:not(:hover) {max-width: 500px;}
    .flex-container { display: flex; flex-direction: column; align-items: center; justify-content: flex-start; gap: 20px; width: 100%; height: auto; overflow: visible;}

    .flex-slide { width: 100%; max-width: 500px; min-height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center; overflow: visible; flex: 0 1 auto; transition: all 0.5s ease;
    }

    /* 첫 번째 슬라이드가 페이지 로드 시 펼쳐진 상태로 고정 */
    .flex-slide.fixed:first-child { flex: 3;  max-width: 500px;
        min-height: 500px; /* 펼쳐지는 높이를 고정 */
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/main/portfolio/portfolio1.png) no-repeat center center / cover;
    }

    /* 나머지 슬라이드는 접힌 상태 */
    .flex-slide:not(:first-child) {flex: 1; max-width: 500px; min-height: 100px; }

    /* 나머지 슬라이드들 호버했을 때 펼쳐짐 */
    .flex-slide:hover {  flex: 3; max-width: 500px; min-height: 500px;background-size: cover; background-position: center;}

    .flex-slide.fixed .flex-keyword ul { flex-direction: column; flex: 0; height: auto; width: 170px; padding-top: 5px;}
}
  

  .flex-title { transition: opacity 0.1s ease, transform 0.1s ease; position: absolute;  top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 2rem;}
  .flex-slide:hover .flex-title { opacity: 0; transform: translate(-50%, -50%)}
  
  .flex-about {opacity: 0; transition: opacity 0.3s ease, transform 0.3s ease; position: absolute; font-size: 1.3rem; top: 10%; left: 5%;}
  .flex-slide:hover .flex-about { opacity: 1;}

  .flex-slide:hover .flex-about .flex-top {top: 50%;}
  .flex-slide:hover .flex-about .flex-top span {font-size: 3rem;}
  .flex-slide .flex-keyword {opacity: 0;}
  .flex-slide:hover .flex-keyword {opacity: 1;}
  .flex-slide .flex-keyword ul { position: absolute; display: flex; gap: 10px; left: 5%; bottom: 10%;}
  .flex-slide .flex-keyword ul>li {
    background: #fff; color: #004E81; border-radius: 5px; padding: 10px 20px;
  }

  .Solution_Developmen, .APP_WEB, .etc {height: 100vh;}
  
  .Solution_Developmen {background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/main/portfolio/portfolio1.png)no-repeat center center / cover;}
  .Solution_Developmen:hover  {background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/main/portfolio/portfolio1.png)no-repeat center center / cover;}

  .APP_WEB { background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/main/portfolio/portfolio2.png)no-repeat  center center / cover;}
  .APP_WEB:hover  { background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/main/portfolio/portfolio2.png)no-repeat  center center / cover;}
  
  .etc { background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/main/portfolio/portfolio3.png)no-repeat  center center / cover;}
  .etc:hover  { background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/main/portfolio/portfolio3.png)no-repeat  center center / cover;}
  
  
  /* 더보기 */
.view_more {padding-top: 40px; display: flex; position: relative; justify-content: flex-end; font-size: 1.4rem;  padding-bottom: 5px;color: #010101; cursor: pointer;}
 .view_more a {position: relative; padding:0 8px 5px 0}
    /* 더보기 밑줄 */
 .view_more a::after {content: ""; position: absolute; right: -11px; bottom: 0; width: 100%; height: 1.5px; padding-right: 15px; background-color: #000;}
    
    /* 반쪽 화살표 */
.view_more a::before { content: ""; position: absolute; right: -8px; /* 화살표 위치 조정 */ bottom: -1px; width: 0.3px; height: 9px; border-bottom: 2px solid #000; border-right: 2px solid #000; transform: rotate(-45deg); border-radius: 20px;
    }


    /* 뉴스 */
    .News {margin:200px auto;}
    .News  .inner {display: flex; justify-content: space-between; align-items: center;}
    .News .news_text {position: relative; margin: 0 auto;}
    .News .news_text h2 {font-size: 5rem; background: linear-gradient( #004E81, #00101B); color: transparent; -webkit-background-clip: text; background-clip: text; color: transparent; padding-bottom: 5px;}
    .News .news_text p { color: #3B3B3D ;}
    .News .news_tab {display: flex; gap: 25px; margin-top: 90px; justify-content: center;}
    .News .news_tab li {display: block; color: #fff; max-width: 168px; height: 50px; width: 100%; text-align: center; border-radius: 10px; cursor: pointer; padding: 14px 0; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)}
    .News .news_tab li:nth-child(1) {background: #004E81;}
    .News .news_tab li:nth-child(2) {background: #F0A550;} 

    .swiper { width: 100%; height: 600px; display: flex; flex-direction: column;align-items: center; text-align: center;}

    .slide-content { display: flex; flex-direction: column; align-items: center;}

    .swiper-slide { text-align: center; font-size: 1.5rem; justify-content: center;
      align-items: center; width: 100%; min-height: 450px; height: auto; margin-top: 50px;}
      .swiper-slide .slide-text_rigth, .slide-text_left {color: #9E9EA2; font-weight: 200; font-size: 1.3rem;}

    .swiper-slide img { display: block; width: 800px;  height: auto; max-height: 450px; object-fit: cover; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)}

    .slide-text { display: flex; justify-content: space-between; width: 100%; padding: 10px 0;}

    .cont { display: none;}
    .cont.active { display: block;}


    /* 페이지네이션 컨테이너 (슬라이드 오른쪽 바깥) */
.swiper-pagination { position: absolute;  right: -30px; /* 슬라이드 바깥 */
  /* top: 50%; transform: translateY(-50%); */ display: flex; flex-direction: column;align-items: center; height: 80vh; z-index: 1000}

.swiper-pagination-progress { position: relative; width: 2px; height: 100%;background-color: #ddd; border-radius: 1px;}

.swiper-pagination-dot { position: absolute; width: 14px; height: 14px;
  background-color: white; border: 3px solid #004e81; border-radius: 50%;
  left: 50%; transform: translate(-50%, -50%); transition: top 0.3s ease-in-out;
  top: 0;}

