@charset "utf-8";


.title .inner { max-width: 1200px;}
/* title */
.title h2 { font-size: 6rem; text-align: center; padding: 0 0 50px;}
.tab-menu { display: flex; justify-content: center; padding: 100px 0 50px;}
.tab-menu > li a { padding: 0 30px; font-size: 2rem;  cursor: pointer; position: relative; border: none; background: none; text-transform: uppercase; transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1); transition-duration: 400ms; transition-property: color;} 
.tab-menu > li a:focus, .tab-menu > li a:hover { color: #161572; font-weight: 700; }
.tab-menu > li a:focus:after, .tab-menu > li a:hover:after { width: 100%; left: 0%; }
.tab-menu > li a:after { content: ""; pointer-events: none; bottom: -10px; left: 50%; position: absolute; width: 0%; height: 2px; background-color: #161572; transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1); transition-duration: 400ms; transition-property: width, left;  }


@media(max-width:1024px){
  .title h2 { font-size: 5rem; padding: 0 0 30px; }
  .tab-menu { padding: 30px; }
}

@media(max-width:500px){
  .title h2 { font-size: 40px; padding-bottom: 10px;}
  .tab-menu > li a { font-size: 1.5rem;}
  .tit h4 { font-size: 2rem; }
  .tit .date {font-size: 1.5rem;}
  .txt p { font-size: 1.5rem; padding: 50px 0 70px;}
  .btn { padding: 5px 35px; font-size: 1.5rem; }
}

@media(max-width:405px){
  .tab-menu { padding: 20px;}
  .tab-menu > li a { font-size: 1.35rem;}
}


/* search-box */
.group {
  margin-left: auto;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(247, 127, 0, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}



/* accordion */
.accordion { padding:20px 0 50px ;}
.accordion .inner { max-width: 1200px; overflow: hidden;} 

.acc_btn{ width: 100%; padding: 20px; text-align: left; font-size: 1.9rem; display: flex; justify-content:center; gap: 60px; align-items: center;  background-color: #ffffff; transition: background-color 0.3s ease; background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%); background-size: 200% 100%; background-position: left center; transition: background-position 0.3s ease; border: 1px solid #000; border-radius: 20px;
  outline: none; cursor: pointer; margin-bottom: 15px;}
.acc_btn .count { width: 33px; }
.acc_btn .subject { flex: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.acc_btn .day {  width: 100px; font-size:16px; opacity: 0.8; }
.acc_btn:hover {background-image: linear-gradient(25deg, #161572, #2d4f97, #3189bc, #17c7e2); color: #fff; background-position: right center; } 
.acc_btn.clicked {background-image: linear-gradient(25deg, #161572, #2d4f97, #3189bc, #17c7e2); color: #fff; }

.acc_cont {
  background: white;
  overflow: hidden;
  max-height: 0;  
  transition: max-height 0.5s ease-out;
  padding: 0 15px;
}

.acc_cont img { width: 50%; margin: 0 auto; display: block;} 

.acc_cont p {
  line-height: 1.5;
  text-align: center;
  font-size: 1.7rem;
  padding: 15px 0 30px;
}


.ov-btn-slide-left {
  background: #fff;
  color: black;
  border: 2px solid #000;
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.ov-btn-slide-left:hover {
color: #fff;
}

.ov-btn-slide-left::after {
  content: "";
  background-image: linear-gradient(25deg, #161572, #2d4f97, #3189bc, #17c7e2); 
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.ov-btn-slide-left:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

@media(max-width:808px) {
  .acc_btn { gap: 10px}
}

@media(max-width:708px) {
  .acc_btn { gap: 0}
  .acc_btn .day {display: none;}
}

@media(max-width:708px) {
.acc_btn {padding: 17px;     font-size: 1.5rem; }
}




/* 페이지네이션 */
.pagination { display: flex; justify-content: center; align-items: center; margin-bottom: 100px; }

.pagination a { display: inline-block;  padding: 8px; margin: 0 5px;
 text-decoration: none; color: #333; }

.pagination a.active {
    background-color:transparent; 
    color:#000; font-size: 2rem;
}

.pagination > a:hover { color: #161572; font-weight: bold;
}

/* 이전/다음 버튼 스타일 */
.pagination a.prev,
.pagination a.next { font-size: 3rem; }

